nav{
    height: 50px;
    /*border: 1px solid #ded8d8c0; */
    background-color: rgba(221, 216, 216, 0.954);
    
    
   
}


.div-header{
    width: 30%;
    margin: 100;
    position: fixed;
    position: relative; 
    left: 130px;
    
}
